fastapi
uvicorn
requests
python-dotenv
numpy
pandas
pillow
beautifulsoup4
lxml
httpx
xmltodict
PyPDF2
pdfminer.six
indexed-gzip
jellyfish
rapidfuzz
yt-dlp
openai-whisper==20231117
subprocess.run
python-levenshtein
ffmpeg-python