# Core Framework
fastapi
uvicorn

# Web Requests & Parsing
requests
httpx
beautifulsoup4
lxml
xmltodict
python-dotenv
python-multipart

# Data Processing
numpy
pandas

# Image & PDF Handling
pillow
PyPDF2
pdfminer.six
indexed-gzip

# String Similarity & NLP
jellyfish
rapidfuzz
python-levenshtein

# yt-dlp
# openai-whisper
# ffmpeg-python