fastapi
uvicorn
requests
python-dotenv
numpy
pandas
pillow
beautifulsoup4
lxml
httpx
xmltodict
PyPDF2
camelot-py
pdfminer.six
indexed-gzip
fuzzywuzzy
jellyfish
metaphone
rapidfuzz
yt-dlp
openai-whisper==20231117
subprocess.run
python-levenshtein
ffmpeg-python